<h1>自己紹介</h1>
    <header>
        <div class="top">
            <%= image_tag("profile.jpg", :id => "icon")%>
            <span id="myname"> とりくん</span>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="https://twitter.com/bird310708" target="_blank">Twitter</a></li>
                   <!-- target="_blank"で新しいタブで開くようにする　-->
                </ul>    
            </nav>
        </div>
    </header>
    
    <div class="container">
        <h2>自己紹介</h2>
        <div class="profile">
            <p>
                自己紹介の文
            </p>
            
            <hr>
            <p>1996年8月2日生まれ</p>
            <p> 鹿児島県鹿児島市</p>
            <p>鹿児島大学　情報生体システム工学専攻</p>
            
        </div>
    </div>
    <footer>
        <p>&copy; とりくん</p>
        <!-- &copy;でコピーライトの作成ができる -->
    </footer>